@import "../../modules/_base.scss";
/*How We Work Section*/
.b-how{}
.b-how__inner{
    max-width:840px;
    margin:0 auto;
    @extend .g-clearfix;
}

.b-how__col{
    text-align:center;
}
.b-how__content{
    max-width:376px;
    margin-left:auto;
    margin-right:auto;
}

.b-how__title{
    display:block;
    @include font-size(16px);
    font-family:$font-regular;
    font-weight:400;
    color:$primary;
    text-transform:uppercase;
}

.b-how__thumb{
    text-align:center;
}
@include media($tablet){
    .b-how__row{
        display:table;
        width:100%;
        table-layout:fixed;
        margin-bottom:45px;
    }
    .b-how__col{
        display:table-cell;
        vertical-align:middle;
        text-align:left;
    }
    .b-how__thumb{
        margin:0;
    }
    .b-how__content{
        margin:0;
        p{
            margin:0;
        }
    }

    .b-how__content--right{
        float:right;
    }
}


