@import "../../modules/_base.scss";
/*Services Icons block*/
.b-service{
    @extend .g-clearfix;
    @extend .g-clearlist;
}
.b-service__item{
    display:block;
    @include font-size(14px);
    text-align:center;
    
    @include media($small){
        float:left;
        width:(100%)/3;
        &:nth-child(3n+1){
            clear:left;
        }

        &:last-child{
            margin-left:(100%)/3;
        }
    }

    @include media($desktop){
        width:(100%)/7;
        &:nth-child(3n+1){
            clear:none;
        }
        &:last-child{
            margin:0;
        }
    }
}

.b-service__link{
    display:block;
    max-width:120px;
    margin:0 auto;
    text-decoration:none;
    color:$text-color;
    @include transition(color .1s ease);

    &:hover,
    &:active{
        color:$primary-bright;
    }

    &.current{
        color:$primary-bright;
        cursor:default;
    }
}

.b-service__icon{
    display:block;
    margin:0 auto 10px;
    @include px2rem(width, 62px);
    @include px2rem(height, 62px);
    background-repeat:no-repeat;
}

.b-service__title{
    margin-bottom:15px;
    line-height:1.28;
}

