@import "../../modules/_base.scss";
/*Header Main Services List*/
.h-service{
    @extend .g-clearlist;
    margin-top:29px;
    float:right;
    font-size:0;
    display:none;

    @include media($tablet){
        display:block;
    }
}
.h-service__item{
    display:inline-block;
    @include font-size(13px);
    vertical-align:middle;
}
.h-service__link{
    display:none;
    @include px2rem(padding, 12px 10px);
    color:$text-color;
    text-transform:uppercase;
    text-decoration:none;

    &:hover,
    &:active{
        color:$primary-bright;
    }

    &.current{
        color:$primary-bright;
        cursor:default;
    }

    @include media($desktop){
        display:block;
    }

    @include media($large){
        @include px2rem(padding, 12px 30px);
    }
}
.h-service__btn{
    @extend .g-btn;
    @extend .g-btn--alt;
    height:37px;
    line-height:37px;
    padding:0 12px;
    margin:0 0 0 10px;
    border-radius:19px;
    @include font-size(13px);
    text-transform:uppercase;
}