/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "base";

.g-table{
    width:100%;
    max-width:100%;
    box-sizing:border-box;
    border:1px solid $border-color;

    th,
    td {
      text-align: center;
    }

    th{
        @include px2rem(padding, 24px 10px);
        font-weight:500;
        font-family:$font-medium;
        background:#f6f6f6;
    }

    td{
        @include px2rem(padding, 12px 10px);
        border:1px solid $border-color;
    }
}

/*Make table scrollable on small screens*/
.g-table-wrap{
    width:100%;
    overflow-y:hidden;
    overflow-x:auto;
    @include px2rem(margin-bottom, $project-line-height*2);

    table{
        margin-bottom:0;
    }
}